# for gemini models (tested)
GEMINI_API_KEY=
MODEL=gemini/gemini-3.1-flash-lite

# for openai models (untested)
OPENAI_API_KEY=
MODEL=openai/gpt-4o

# refer the official litellm docs https://docs.litellm.ai/docs/providers for additional provider support